@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
input {

}
label {
    &.error {
        color: red;
    }
    &.success {
        color: green;
    }
}
.header {
    @include gradient('to top, #fefcea, #f1da36');
    .container {
        line-height: 60px;
    }
}

.header-btn {
    @include respond-to(more-mobile) {
        margin-left: 20px;
    }
}

.main {
    margin-top: 40px;
}
.default-form-block {
    position: fixed;
    background-color: #fff;
    @include border-radius(4px);
    box-shadow: 0 0 4px 4px rgba(200, 200, 200, .7);
    max-width: 380px;
    @include transition('top .6s ease');
    top: -2000px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 300px;
    font-size: 0;
    text-align: center;
    &.active {
        top: 0;
        @include transition('top .7s ease .3s');
    }
    &:before {
        content:'';
        min-height: 100%;
        @include vam;
        width: 0;
    }
    form {
        font-size: 14px;
        @include vam;
        width: 85%;
        margin: auto;
    }
}
.auth-input {
    + .auth-input {
        margin-top: 20px;
    }
}
.auth-submit-btn {
    margin-top: 20px;
}

.welcome-block {
    display: inline-block;
}


.comment-form {
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    @include transition('all .4s ease');
    textarea {
        overflow: hidden;
        resize: none;
        @include transition('all .4s ease');
    }
    &:not(.open) {
        textarea {
            max-height: 0;
            padding: 0;
            font-size: 0;
            margin-bottom: 0;
        }
    }
    &.open {
        margin-top: 30px;
        opacity: 1;
        max-height: 300px;
        textarea {
            margin-bottom: 15px;
        }
    }
    .buttons-block {
        &:before {

        }
        select,button {
            @include vam;
        }
        select {
            line-height: 20px;
            min-width: 45px;
        }
        button {
            margin-left: 20px;
        }
    }
}
.open-comment {
    margin-top: 20px;
}
.comment-single {
    border: 1px solid #ccc;
    overflow: hidden;
    + .comment-single {
        margin-top: 15px;
    }
    &.just {
        font-size: 0;
        max-height: 0;
        opacity: 0;
        .comment-text {
            font-size: 0;
            padding: 0;
        }
        .heading {
            font-size: 0;
        }
    }
    &:not(.just) {
        opacity: 1;
        max-height: 300px;
        font-size: 14px;
    }
}
.comment-text {
    overflow: hidden;
    width: 100%;
    padding: 10px;
    @include transition('padding .4s ease');
}
.comment-single-heading-block {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    .heading {
        margin: 0;
        @include transition('font-size .4s ease');
    }
}
.rate-block {
    i {
        color:#E6D010;
    }
}
.no-padding-xs {
    @include respond-to(extrasmall) {
        padding: 0;
    }
}
.product-single {
        margin-bottom: 30px;
}
.product-image-wrapper {
    @include respond-to(less-desktop) {
        text-align: center;
    }
}