<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="UTF-8">
    <title>Light It</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="node_modules/angular-click-outside/angular-click-outside.js"></script>
    <script type="text/javascript" src="js/helpers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="MainCtrl">
<header class="header">
    <div class="container">
        <nav class="text-right">
            <div class="welcome-block" ng-show="auth.logged && auth.user">
                Welcome {{auth.user}}!
            </div>
            <span class="btn header-btn login btn-primary" ng-hide="auth.logged" ng-click="toggleLogin()">
                <i class="fa fa-sign-in"></i>
                Log in</span>
            <span class="btn header-btn logout btn-primary" ng-show="auth.logged" ng-click="logout()">
                <i class="fa fa-sign-out"></i>
                Log out</span>
            <span class="btn header-btn register btn-primary" ng-hide="auth.logged" ng-click="toggleReg()">
                <i class="fa fa-user"></i>
                Register</span>
        </nav>
    </div>
</header>
<main class="main">
    <div class="container">
        <products-catalog></products-catalog>
    </div>
</main>
<footer class="footer">
    <div class="container">
    </div>
</footer>
<div class="default-form-block" ng-class="{'active' : (states.registerForm && !auth.logged)}"
        tw-click-outside="toggleReg()" ignore-if="!states.registerForm">
    <form name="register" class="default-form" ng-submit="regRequest()" novalidate>
        <h3>Registration</h3>
        <input name="username" ng-change="regClearError()" class="form-control auth-input" type="text" ng-model="data.regData.username" required/>
        <input name="password" ng-change="regClearError()" class="form-control auth-input" type="password" ng-model="data.regData.password" required/>
        <input name="confirmPass" ng-change="regClearError()" class="form-control auth-input" type="password" required ng-model="data.regData.confirmPass"/>
        <label class="error" ng-show="data.regData.password !== data.regData.confirmPass && forms.reg.state === true">Confirm password!</label>
        <label class="error" ng-hide="forms.reg.state">{{forms.reg.errorMessage}}</label>
        <label class="success" ng-show="forms.reg.state === 'success'">Your account was successfully created!</label>
        <button type="submit"
                ng-disabled="(data.regData.password !== data.regData.confirmPass) || !data.regData.password || !data.regData.username"
                class="btn auth-submit-btn btn-primary btn-block">Register</button>
    </form>
</div>
<div class="default-form-block" ng-class="{'active' : (states.loginForm && !auth.logged)}"
     tw-click-outside="toggleLogin()" ignore-if="!states.loginForm">
    <form name="login" class="default-form" ng-submit="loginRequest()" novalidate>
        <h3>Log in</h3>
        <input name="username" ng-change="loginClearError()" class="form-control auth-input" type="text" ng-model="data.loginData.username" required/>
        <input name="password" ng-change="loginClearError()" class="form-control auth-input" type="password" ng-model="data.loginData.password" required/>
        <label class="error" ng-hide="forms.login.state">{{forms.login.errorMessage}}</label>
        <button type="submit" class="btn auth-submit-btn btn-primary btn-block"
            ng-disabled="!data.loginData.username || !data.loginData.password">Log in</button>
    </form>
</div>
</body>
</html>