<div class="products-block clearfix">
    <div class="product-single col-md-6 clearfix no-padding-xs" ng-repeat="product in products"
         ng-if="product.title && product.text">
        <div class="col-sm-6 no-padding-xs">
            <div class="product-image-wrapper">
                <img ng-src="{{path+product.img}}" alt=""/>
            </div>
            <div class="new-comment-block">
                <span class="btn btn-success btn-block open-comment" ng-click="toggleComments(product.id)" ng-show="auth.logged">I wanna tell something!</span>
                <form name="comment" class="comment-form" novalidate
                      ng-submit="newComment(product.id)" ng-class="{'open' :auth.logged && openForm[product.id]}">
                    <textarea class="form-control" name="comment" ng-model="newComments[product.id].text"
                              ng-change="clearNewCommentError()" required></textarea>
                    <div class="clearfix buttons-block text-right">
                            <select name="rate" ng-model="newComments[product.id].rate" class="rate-select"
                                    ng-change="clearNewCommentError()" required>
                                <option ng-repeat="a in [1,2,3,4,5]" value="{{a}}">{{a}}</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Comment</button>
                    </div>
                    <label class="error" ng-show="newCommentError">{{newCommentError}}</label>
                </form>
            </div>
        </div>
        <div class="col-sm-6 no-padding-xs">
            <h3>
                {{product.title}}
            </h3>
            <p>
                {{product.text}}
            </p>
            <div class="comment-single" ng-repeat="comment in product.comments">
                <div class="comment-single-heading-block clearfix">
                    <h4 class="pull-left heading">
                        {{comment.created_by.username}}
                    </h4>
                    <div class="rate-block pull-right">
                        <i class="fa fa-star" ng-show="comment.rate > 0"></i>
                        <i class="fa fa-star" ng-show="comment.rate > 1"></i>
                        <i class="fa fa-star" ng-show="comment.rate > 2"></i>
                        <i class="fa fa-star" ng-show="comment.rate > 3"></i>
                        <i class="fa fa-star" ng-show="comment.rate > 4"></i>
                    </div>
                </div>

                <div class="comment-text">
                    {{comment.text}}
                </div>
            </div>
        </div>
    </div>
</div>